<template>
  <div id="techvsi-home">
    <div class="wrapper">
        <img class="logo" src="../assets/logo.png" alt="logo" />
      <h1>👋Hello world🌎</h1>
    </div>
  </div>
</template>
<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

:root {
  --font: Roboto, sans-serif;
  --textColor: #374961;
  --linkActiveColor: #41b783;
}

#techvsi-home {
  width: 100%;
  .wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(100% - 20px);
    border: 2px solid #000;
    padding: 20px;
    background-color: #ad33e499;
    box-sizing: border-box;
  }
  .logo {
    width: 20%;
  }
}
</style>